.button_component{
    width: 50vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    display:flex;
}
.button_component button{
    width: 160px;
    height: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 15%;
    font-weight: 600;
    border: none;
}

.dark{
    background-color: black;
    color:white;
    }

.grey{
    background-color: #f1f1f1;
    color:black;
}

.dark_grey{
    background-color: #262626;
    color:white;
  
}